apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-gpt-clone-app
  labels:
    app: chat-gpt-clone-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: chat-gpt-clone-app
  template:
    metadata:
      labels:
        app: chat-gpt-clone-app
    spec:
      terminationGracePeriodSeconds: 30
      containers:
      - name: chat-gpt-clone-app
        image: sanjeevrisbud/chat-gpt-clone:latest
        imagePullPolicy: "Always"
        ports:
        - containerPort: 3000